
.quadrato {
    padding: 0;
    margin:0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
.quadrato {
    position: relative;
    width: 40%;
    overflow: hidden;
    float: left;
}
.quadrato:before {
    content:"";
    display: block;
    padding-top: 100%;
    background-color: blue;
}
