h1 {
    color: blue;
}
 h2 {
    color: red;
}
h3 {
    color: yellow;
}
h4 {
    color: violet;
}
h5 {
    background-color: blueviolet;
}

h2 {
    font-size: 30px;
}

h2 {
    font-size: 30px;
    color: blue;
}

#colors1 {
    font-size: 30px;
    color: yellow;
}

#colors2 {
    font-size: 30px;
    color: red;
}

#logoname {
    font-size: 3opx;
    color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-style: oblique;
font: size 200px;
}
p {
    text-align: right;
}


*{
    color: blue;
}
h2,h3,p {
color: red;
font-family: sans-serif;
    
}
.hover-effect {
        color:blue; 
        transition: color 0.3s ease;
        cursor: pointer;

    }

    .hover-effect:hover {
        color: red;
    }
